* {
    margin: 0px;
    padding: 0px;
}

table {
    padding-top: 12px;
    width: 100%;
    height: 70vh;
    background-color: rgb(59, 59, 59);
    color: aliceblue;
}

td {

    width: 25%;
    text-align: center;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
}

td:hover {
    background-color: rgb(148, 147, 147);
    cursor: pointer;

}

#displays {
    overflow-wrap: break-word;
    height: 30vh;
    background-color: rgb(109, 115, 98);
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 10vh;
    color: rgb(170, 172, 173);
    padding: 5px;
    box-sizing: border-box;
}

#eco {
    background-color: rgb(156, 119, 74);
}

#eco:hover {
    background-color: rgb(229, 209, 27);

}

.cr {
    background-color: rgb(44, 55, 55);
}

.jm {
    width: 100%;
    position: absolute;
    color: rgb(88, 89, 90);
    background-color: rgb(59, 59, 59);
    box-sizing: border-box;
}